{% macro hero(imageDesktop, imageMobile, alt, loading='eager', fetchpriority, width=1920, height=1080) %}
<section class="hero">
  <picture class="hero-bg">
    {% if imageMobile %}
      <source media="(max-width: 767px)" srcset="{{ imageMobile }}" type="image/webp">
    {% endif %}
    <img src="{{ imageDesktop }}" alt="{{ alt }}" loading="{{ loading }}" {% if fetchpriority %}fetchpriority="{{ fetchpriority }}"{% endif %} width="{{ width }}" height="{{ height }}">
  </picture>
  <div class="hero-overlay">
    <div class="container">
      {{ caller() }}
    </div>
  </div>
</section>
{% endmacro %}