<!DOCTYPE html>
<html lang="{{ lang | default('fr') }}">
<head>
  {% include "seo_head.njk" %}
</head>
<body class="{{ bodyClass }}">
  <a href="#main-content" class="skip-link">Passer au contenu</a>
  {% include "header.njk" %}
  <main id="main-content">
    {{ content | safe }}
  </main>
  {% include "footer.njk" %}
  <script src="/js/script.js" defer></script>
</body>
</html>